In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [17]:
beml_df = pd.read_csv("beml_df.csv")
glaxo_df = pd.read_csv("glaxo_df.csv")

In [18]:
df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1134.60 -0.000881
1  2010-01-06  2010-01-06  1139.60  0.004407
2  2010-01-07  2010-01-07  1144.15  0.003993
3  2010-01-08  2010-01-08  1144.05 -0.000087
4  2010-01-11  2010-01-11  1137.00 -0.006162

In [10]:
glaxo_df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1616.80 -0.005444
1  2010-01-06  2010-01-06  1638.50  0.013422
2  2010-01-07  2010-01-07  1648.70  0.006225
3  2010-01-08  2010-01-08  1639.80 -0.005398
4  2010-01-11  2010-01-11  1629.45 -0.006312

In [19]:
glaxo_df['gain'].mean()

0.00038604108259229373

In [20]:
glaxo_df['gain'].std()

0.013360538552253302

In [29]:
beml_df['gain'].mean()

0.00027074807905723994

In [30]:
beml_df['gain'].std()

0.02643083146847484

In [22]:
del glaxo_df['Date.1']

In [23]:
glaxo_df

            Date    Close      gain
0     2010-01-05  1616.80 -0.005444
1     2010-01-06  1638.50  0.013422
2     2010-01-07  1648.70  0.006225
3     2010-01-08  1639.80 -0.005398
4     2010-01-11  1629.45 -0.006312
...          ...      ...       ...
1733  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2702.15  0.000148
1736  2016-12-29  2727.90  0.009529
1737  2016-12-30  2729.80  0.000697

[1738 rows x 3 columns]

In [27]:
glaxo_df_ci = stats.norm.interval(0.95,0.00038,0.01336)

In [28]:
glaxo_df_ci

(-0.025805118833455123, 0.02656511883345512)

In [31]:
beml_df_ci = stats.norm.interval(0.95,0.000270,0.026430)

In [32]:
beml_df_ci

(-0.05153184811139363, 0.05207184811139363)

In [33]:
import matplotlib.pyplot as plt