In [2]:
#1.Train and test set
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn import preprocessing

In [7]:
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
dataframe = pd.read_csv('pima-indians-diabetes.data (1).csv',names=names)
dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [8]:
dataframe.dtypes

preg       int64
plas       int64
pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [9]:
dataframe.isna().sum()

preg     0
plas     0
pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
array = dataframe.values
x = array[:,0:8]
y = array[:,8]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.33, random_state=0)
model = LogisticRegression(max_iter = 400)
model.fit(x_train,y_train)
result = model.score(x_test,y_test)

In [22]:
result

0.7795275590551181

In [26]:
result*100

77.95275590551181

In [19]:
preds = model.predict(x_test)
pd.Series(preds).value_counts()

0.0    194
1.0     60
dtype: int64

In [24]:
pd.crosstab(y_test,preds)

col_0  0.0  1.0
row_0
0.0    154   16
1.0     40   44

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,preds)

0.7795275590551181

In [32]:
#Evaluating using Cross validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [38]:
array = dataframe.values
x = array[:,0:8]
y = array[:,8]
kfold = KFold(n_splits=5)
model = LogisticRegression(max_iter=400)
results = cross_val_score(model, x,y,cv=kfold)

In [39]:
results

array([0.77272727, 0.72077922, 0.76623377, 0.82352941, 0.77124183])

In [40]:
results.mean()*100

77.0902300314065

In [43]:
#Evaluate using Leave One Out Cross Validation
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
dataframe = pd.read_csv('pima-indians-diabetes.data (1).csv',names=names)
array = dataframe.values
x = array[:,0:8]
y = array[:,8]
loocv = LeaveOneOut()
model = LogisticRegression(max_iter=400)
results = cross_val_score(model,x,y,cv=loocv)

In [45]:
results.mean()*100

77.60416666666666